.flex-container {
  background-color: aqua;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: center;
  /* justify-content: flex-start; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* align-items: flex-end; */
  align-items: stretch;
}

.flex-ul {
  /* display: flex; */
  list-style-type: none;
  justify-content: center;
  padding: 0px;
}

.item-1 {
  background-color: yellow;
  display: flex;
  align-items: center;
}

.item-2 {
  background-color: gold;
  display: flex;
  align-items: flex-end;
}

.item-3 {
  background-color: yellowgreen;
  display: flex;
  align-items: flex-start;
}

.item-4 {
  background-color: pink;
  /* display: flex; */
  /* justify-content: center; */
  width: 550px;
}
