body {
  background-color: yellowgreen;
}

.one {
  /* background-color: white; */
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 25px;
  font-weight: bold;
  text-decoration: none;
}

.two {
  padding: 5px 20px;
  background-color: #eb5757;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.three {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.four {
  background-color: #eb5757;
  color: white;
  border-radius: 5px;
  padding: 5px 25px;
  text-decoration: none;
  font-weight: bold;
}

.five {
  background-color: black;
  padding: 5px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}
