.flex-container {
  display: flex;
  background-color: lightblue;
  height: 800px;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: space-around;
}

.item {
  padding: 25px 0px;
  width: 33%;
}

.one {
  background-color: yellow;
}

.two {
  background-color: yellowgreen;
}

.three {
  background-color: hotpink;
}

.four {
  background-color: purple;
}

.five {
  background-color: orange;
}

.six {
  background-color: chartreuse;
  align-self: flex-start;
}

.seven {
  background-color: darkred;
}

.eight {
  background-color: indianred;
}
