/* * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
} */

/* body {
  margin: 0px;
} */

.hero-section {
  background-color: lightblue;
  /* padding: 1px; */
  /* overflow: auto; */
}

p {
  margin: 50px;
  /* padding: 1px; */
}
