body {
  background-color: yellowgreen;
  margin: 0px;
}

.btn {
  padding: 5px 25px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.pill {
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 400;
}

.icon-32 {
  width: 32px;
}

.outline {
  border: 1px solid white;
}

.light-bg {
  background-color: white;
  color: black;
}

.ml-20 {
  margin-left: 20px;
}

.primary {
  background-color: #eb5757;
}

a.primary:hover,
.nav-items li:hover {
  background-color: #333;
  color: white;
}

a.light-bg:hover,
a.dark-bg:hover,
a.pill:hover {
  background-color: #eb5757;
  color: white;
}

.outline:hover {
  background-color: white;
  color: #333;
}

.text-center {
  text-align: center;
}

.dark-bg {
  background-color: #333;
}

.light {
  color: white;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.flex-end {
  justify-content: flex-end;
}

.col-gap-2 {
  column-gap: 20px;
}

.p-25 {
  padding: 25px;
}

.outer-container {
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
}

.content-container {
  /* background-color: pink; */
  width: 75%;
}

.space-between {
  justify-content: space-between;
}

.nav-items {
  list-style-type: none;
}

.nav-items li {
  padding: 10px;
  margin: 0px 20px;
  border-radius: 5px;
}

.filter-white {
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(235deg)
    brightness(104%) contrast(100%);
}

.icon-container {
  background-color: #333;
  border-radius: 5px;
  padding: 6px 15px;
  position: relative;
}

.quantity {
  position: absolute;
  top: -8px;
  right: -6px;
  background-color: white;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 12px;
}

.mobile-nav {
  display: none;
}

.f-xxl {
  font-size: 62px;
}

.f-xl {
  font-size: 45px;
}

.f-lg {
  font-size: 40px;
}

.f-md {
  font-size: 30px;
}

.card-image {
  position: absolute;
  bottom: -15%;
  right: -15%;
  width: 100px;
}

.m-0 {
  margin: 0px;
}

.m-20 {
  margin: 20px;
}

.text-right {
  text-align: right;
}

.f-sm {
  font-size: 18px;
}

.f-xs {
  font-size: 16px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-45 {
  margin-bottom: 45px;
}

.w-35 {
  width: 35%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.pt-65 {
  padding-top: 65px;
}

.pt-35 {
  padding-top: 35px;
}

.pb-45 {
  padding-bottom: 45px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hero {
  height: 550px;
  background-image: linear-gradient(
      180deg,
      hsla(210, 4%, 11%, 0.5),
      hsla(190, 7%, 18%, 0.5)
    ),
    url("./assets//fullsize.jpg");
  background-size: cover;
  background-position: center;
}

.card {
  width: 100%;
  max-width: 356px;
}

.card-block {
  position: relative;
  height: 351px;
  background-color: #222;
  border-radius: 5px;
}

.card-image-triangle {
  position: absolute;
  width: 100px;
  bottom: -10%;
  right: -05%;
}

.flex-col {
  flex-direction: column;
}

.shop-card-block {
  height: 379px;
  background-image: url("./assets/tent-379x500.jpg");
  background-size: cover;
  border-radius: 5px;
}

.relative {
  position: relative;
}

#home-statement {
  height: 550px;
  background-image: linear-gradient(
      180deg,
      hsla(210, 4%, 11%, 0.5),
      hsla(190, 7%, 18%, 0.5)
    ),
    url("./assets/forest.jpg");
  background-size: cover;
  background-position: center;
}

.shop-local-img {
  position: absolute;
  top: 35px;
  left: -195px;
  background-image: url("./assets/tent-379x500.jpg");
  width: 351px;
  height: 440px;
  border-radius: 15px;
}

.shop-local-container {
  background-color: #222;
  width: 936px;
  border-radius: 15px;
}

.text-container {
  margin-right: 145px;
  width: 386px;
  line-height: 26px;
}

@media only screen and (max-width: 1111px) {
  body {
    background-color: yellow;
  }
  .w-35 {
    width: 55%;
  }

  .w-45 {
    width: 75%;
  }

  .flex-wrap {
    justify-content: center;
  }

  .shop-local-img {
    left: -95px;
  }

  .text-container {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 921px) {
  body {
    background-color: pink;
  }

  .shop-local-img {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background-image: url("./assets/tent-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  #shop-local {
    width: 100%;
  }

  .shop-local-container {
    flex-wrap: wrap;
  }

  .text-container {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .nav-items {
    display: none;
  }

  .w-35,
  .w-45,
  .w-50 {
    width: 100%;
  }

  #cart {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }
}
