html {
}

body {
}

.outerdiv {
  background-color: yellowgreen;
}

.innerdiv {
  background-color: hotpink;
}

.inner2 {
  background-color: orange;
}

.px1 {
}

.em1 {
}

.em2 {
}

.em3 {
}

.rem1 {
}

.rem2 {
}

.rem3 {
}
